@@if (context.contact){
    <!-- =========================
        2. Section - Cover 
    ============================== -->        
    
    <!-- Start .Cover -->
    <section class="Cover d-flex align-items-center">
        <div class="container">
            <div class="Cover__content Cover__content--border">
                <h2 class="Cover__title">Contact</h2>
            </div>
        </div>
    </section><!-- End /.Cover -->
}

@@if (context.blog){
    <!-- =========================
        2. Section - Cover 
    ============================== -->        
    
    <!-- Start .Cover -->
    <section class="Cover Cover--blog d-flex align-items-center">
        <div class="container">
            <div class="Cover__content Cover__content--border">
                <h2 class="Cover__title">Blog</h2>
            </div>
        </div>
    </section><!-- End /.Cover -->
}

@@if (context.blogSingle){
    <!-- =========================
        2. Section - Cover 
    ============================== -->        
    
    <!-- Start .Cover -->
    <section class="Cover Cover--blog d-flex align-items-center">
        <div class="container">
            <div class="Cover__content Cover__content--border">
                <h2 class="Cover__title">Blog Single</h2>
            </div>
        </div>
    </section><!-- End /.Cover -->
}

@@if (context.about){
    <!-- =========================
        2. Section - Cover 
    ============================== -->        
    
    <!-- Start .Cover -->
    <section class="Cover Cover--blog d-flex align-items-center">
        <div class="container">
            <div class="Cover__content Cover__content--border">
                <h2 class="Cover__title">About</h2>
            </div>
        </div>
    </section><!-- End /.Cover -->
}

@@if (context.gallery){
    <!-- =========================
        2. Section - Cover 
    ============================== -->        
    
    <!-- Start .Cover -->
    <section class="Cover Cover--blog d-flex align-items-center">
        <div class="container">
            <div class="Cover__content Cover__content--border">
                <h2 class="Cover__title">Gallery</h2>
            </div>
        </div>
    </section><!-- End /.Cover -->
}