<!-- =========================
    2. Section - Cover Parallax
============================== -->

<!-- Start .Cover -->
<section class="Cover clearfix">

    <!-- Start .Banner-parallax -->
    <div class="Banner-parallax Cover-parallax">
        <div class="container">
            
            @@if (context.contact){
    
                <h2 class="Cover-parallax__title semibold">Контакт</h2>
                
                <!-- Start .Cover-parallax__breadcrumb -->
                <div class="Cover-parallax__breadcrumb">
                    <a href="#" title="" class="semibold">Главная</a> / <span>Контакт</span>
                </div><!-- End .Cover-parallax__breadcrumb -->
                
            }
                
            @@if (context.about){
            
                <h2 class="Cover-parallax__title semibold">О компании</h2>
                    
                <!-- Start .Cover-parallax__breadcrumb -->
                <div class="Cover-parallax__breadcrumb">
                    <a href="#" title="" class="semibold">Главная</a> / <span>О компании</span>
                </div><!-- End .Cover-parallax__breadcrumb -->
            
            }

        </div>
    </div><!-- End /.Banner-parallax -->

</section><!-- End /.Cover -->