
@@if (context.blogDetails){
    <!-- Start .image-line -->
    <div class="image-line image-line">
        <div class="image-line__extra">
            <img src="img/blog/Blog-inside.jpg" class="img-fluid Blog-details__image" alt="Blog" title="Blog">                    
        </div>
    </div><!-- End /.image-line -->
}

@@if (context.aboutDetails){
    <!-- Start .image-line -->
    <div class="image-line image-line--vertical">
        <div class="image-line__extra">
            <img src="img/about/About.jpg" class="img-fluid Blog-details__image" alt="About" title="About">                    
        </div>
    </div><!-- End /.image-line -->
}