@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.Menu {
        &-item {
            margin: 0 0 0 20px;
        }
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .Menu {
        display: none;
    }   
    .Navbar {
        @include FlexCenterBetween;
        &__nav {
            width: 100%;
        }
    }
    .Hotels {
        &-table {
            &__row {
                & > .row {
                    & > :last-child {
                        margin-top: 30px;
                    }                    
                }
            }
            &__header {
                display: none;
            }
        }
    }
    .Contact-card {
        margin-top: 40px;
    }
    .testimonial {
        margin-top: 30px;
    }
    .carousel {
        &-item {
            height: 396px;
            max-height: 396px;
        }
    }
    .modal {
        &-dialog {
            max-width: 650px;
        }
    }
    .burger {
        &-menu {
            &__logo {
                width: 185px;
            }
        }
    }
}

@include MQ(tablet) { 
}

// ≥768px
@include media-breakpoint-down(sm) {
    .content {
        &__margin {
            margin-top: 2.4rem;
        }
    }
    .Footer {
        .container {
            flex-direction: column;
        }
    }
    .Contact {
        &__form {
            position: relative;
            top: 0;
            transform: none;
            width: 100%;
        }
        &__methods {
            .container {
                max-width: 100%;
                padding: 0;
            }
        }
        &__form {
            box-shadow: none;
            border-top: .063rem solid #ddd;
        }
    }
    .carousel {
        &-item {
            height: 284px;
            max-height: 284px;
        }
    }
    .Hotels {
        &-table {
            &__row {
                .button {
                    width: 100%;
                    max-width: 100%;
                    text-align: center;                 
                }
            }
        }
        &__description {
            margin-top: 30px;
        }
        &-features {
            justify-content: center;
            margin: 0;
        }
        &__rating {
            margin: 20px 0;
        }
    }
    .stars {
        margin-top: 20px;
    }
    .Navbar {
        &-logo {
            &__info,
            &__date,
            &__online {
                display: none;
            }
        }
    }
    .Hotel {
        &-header {
            flex-direction: column;
            align-items: flex-start;
            &__title {
                margin: 20px 0 0;
            }
        }
        &-card {
            &-sidebar {
                .Hotels {
                    &-features {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
    .Banner {
        &-parallax {
            &__title {
                &--mark {
                    font-size: 28px;
                    line-height: 40px;
                }
            }
            &__description {
                &--white {
                    font-size: 15px;
                }
            }
        }
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .carousel {
        &-indicators {
            & > .row {
                & > div {
                    width: 50%;
                }
            }
        }
        &-item {
            height: 284px;
            max-height: 284px;
        }
    }
    .Navbar {
        &-logo {
            &__info {
                display: none;
            }
        }
    }
    .Banner {
        &__title {
            font-size: 26px;
            line-height: 34px;
        }
        &__description {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .section {
        margin: 30px 0;
    }
}

@include MQ(mobileL-Min) {
    .carousel {
        &-item {
            height: 237px;
            max-height: 237px;
        }
    }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
    .cd {
        &-nav {
            &-container, &-trigger {
                display: none;
            }
        }
        &-overlay {
            display: none;
        }
    }
    .modal {
        &-lg {
            max-width: 1110px;
        } 
        &-body {
            height: 570px;        
        }
    }
    .visible-lg {
        display: block;
    }
}

// ≤1200px
@include media-breakpoint-up(xl) {
    
}


/*==========  For Retina  ==========*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .Navbar {
        &-logo {
            &__link {
                background: url(../img/Logo@2x.png) center left no-repeat; 
            }
        }
    }
    .Banner {
        &_parallax {
            background: url('../img/banner@2x.png') no-repeat top center;              
        }
    }
}

