
$default-font: "Montserrat", sans-serif;

$primary-color: #18162E;
$secondary-color: #DD0C7C;
$secondary-hover: #D8A14D;
$secondary-label: #C79A5C;
$secondary-icon: #E6B776;
$secondary-shadow: #b3a48f;
$gray: #EDEBE9;
$gray-lighten1: #F8F6F5;
$gray-lighten2: #F9F8F7;
$gray-lighten3: #DFDBD2;
$gray-lighten4: #F5F4F2;
$gray-lighten5: #FBFAFC;
$gray-body: #F7F8FA;
$primary-shadow: #201B17;
$secondary-score: #EDB103;
$gray-medium: #18162E;
$green: #9BD74E;
$shadow-dark: #271F33;
$icon-filter: #382059;
$shadow-active: #9F50F0;

$button-secondary-bg: #d98000;
$button-secondary-border: #cb7400;
$text: #28292F;
$text2: #5b8bb6;
$darkenBlue: #06355f;
$softBlue: #513bc3;
$hardBlue: #2d1c84;





$color-1: #1A1A1A; // Cod Gray
$color-2: #DB6356; // Roman
$color-3: #FFFFFF; // White
$color-4: #548c7e; // Patina



// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;

$mobile-xs: 320px;
$mobile-s: 375px;
$mobile-m: 425px;
$mobile-l: 480px;
$mobile: 540px;
$mobile-landscape: 600px;
$tablet: 767px;
$tablet-landscape: 992px;
$laptop: 1199px;
$laptop-l: 1440px;

