// Basic Styles
* {
    outline: 0 !important;
    font-weight: normal;
    word-spacing: 0.2rem;
}

a,
button {
    outline: 0 !important;
    @include transition03S;
}

button {
    &:focus {
        box-shadow: none!important;        
    }
}

a {
    color: $secondary-color;
}

a:hover,
a:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
    color: $secondary-color;
}

hr {
    margin: 15px 0;
    background-color: $gray-lighten1;
    border: none;
    height: 2px;    
}

figure {
    margin: 0;
}

.icon {
    display: inline-block;
    width: 1.250rem;
    height: 1.250rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.img100 {
    width: 100%;
}

.mt-40 {
    margin-top: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.upper {
    text-transform: uppercase;
}

.link {
    &-out {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
}

.visible-lg {
    display: none;
}

.semibold {
    font-weight: 600;
}

.medium {
    font-weight: 500!important;
}

.sticky {
    padding-top: 74px;
}

.underline {
    text-decoration: underline;
}

.resize {
    resize: none;
}

.title {
    margin: 30px 0;
    font-size: 42px;
    color: $primary-color;   
    font-weight: 400; 
    &--default {
        font-size: 14px;     
        margin: 10px 0;
    }
    &__label {
        color: $secondary-color;
    }  
    &--mini {
        font-size: 26px;
    }  
    &--xsmall {
        margin: 20px 0;
        font-weight: 500;
        font-size: 20px;
        color: $primary-color;        
    }
    &--xmini {
        font-size: 24px;
    }
    &--small {
        font-size: 22px;   
        line-height: 28px;    
        margin: 10px 0 0; 
    }
    &--medium {
        font-size: 28px;      
        margin: 0 0 12px;    
    }
    &--gray {
        font-size: 16px;
        color: rgba($primary-color, .4);
        line-height: 22px;   
        margin: 8px 0;     
    }
    &--content {
        font-size: 16px;
        line-height: 26px;
    }
}

.content {
    margin-top: 50px; 
}

.card {
    background: #fff;
    border: 1px solid rgba(32,27,23,0.02);
    box-shadow: 0 1px 4px 0 rgba(32,27,23,0.04), 0 1px 0 0 rgba(32,27,23,0.02);
    border-radius: 6px;
    &--padd {
        padding: 30px;
    }  
    &--bg {
        background: #fff url(../img/card-bg.svg) no-repeat right bottom;
    }  
    &--gray {
        background-color: $gray-lighten5;
    }
}

.label {
    min-width: 150px;
    height: 38px;
    padding: 11px 16px;
    margin-left: 28px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;   
    line-height: 18px;   
    &--gray {
        background: $gray-lighten2;
        color: rgba($primary-color, .7);          
        .semibold {
            color: $primary-color;
        } 
    }  
}

.online {
    width: 12px;
    height: 12px;
    min-width: 12px;
    object-fit: cover;
    position: relative;
    @include borderRadius50;
    background-color: rgba($green, .4);
    @include FlexCenter;
    margin-right: 13px;
    &:after {
        content: "";
        width: 6px;
        height: 6px;
        min-width: 6px;
        object-fit: cover;
        @include borderRadius50;
        background-color: $green;
    }
}

.copyright {
    font-size: 0.9rem;
    color: $primary-color;
    margin-bottom: 0;
    &--white {
        color: white;
    }
}

.valign {
    @include FlexAlignCenter;
}

.align {
    @include FlexJustifyCenter;
}

.stars {
    margin-top: 2px;
    text-align: center;
}

.inline {
    &-block {
        display: inline-block!important;
    }
}

.text {
    font-size: 18px;
    color: rgba($primary-color, .7);
    line-height: 29px;   
    margin-bottom: 0;
    &--content {
        margin: 20px 0 0;
        font-size: 16px;
        line-height: 26px;
        color: rgba($primary-color, .84);
    }
    &--mb30 {
        p {
            margin-bottom: 30px;
        }
    }
    &--gray {
        color: rgba($primary-color, .7);
        background-color: $gray-lighten5;
        font-weight: 400!important;
    }
    &--about {
        font-size: 16px;
        line-height: 28px;
    }
}

.list {
    font-size: 16px;
    color: rgba($primary-color, .6);
    line-height: 26px;    
    padding-left: 30px;
    margin: 40px 0;
    &__item {
        padding-left: 10px;
    }
}

.section {
    margin: 50px 0 30px;
}

.clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
        clear: both;        
    }    
}

