// Buttons Styles
.button {
    background-image: linear-gradient(-180deg, #F5C305 2%, #E7A302 100%);
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 22px;
    @include textLimit;
    max-width: 191px;
    border: none;
    display: inline-block;
    cursor: pointer;
    &:hover {
        color: #fff;
    }
    &--medium {
        max-width: 238px;
    }
    &--large {
        max-width: 311px;
        font-size: 18px;
        padding: 20px 30px;
        margin-top: 40px;
    }
    &--block {
        width: 100%;
        max-width: 100%; 
    }
    &--border {
        background: #fff;
        border: 2px solid #EDB103;
        box-shadow: 0 1px 4px 0 rgba(#EDB103, .04), 0 1px 0 0 rgba(#EDB103, .02);
        border-radius: 6px;  
        color: #EDB103;    
        text-shadow: none;  
        &:hover {
            background-color: #EDB103;
            color: #fff;
            text-shadow: 0 1px 2px rgba(0,0,0,0.10);    
        }
    }
    &--icon {
        padding: 15px 28px;
        @include FlexJustifyBetween;        
    }
}