// Navigation Styles
//== Nav menu item outline animation on hover ==//
.Menu {
    @include FlexCenterBetween;
    padding: 0;
    margin: 0;
    &-item {
        padding: 0;
        margin: 0 0 0 40px;
        list-style: none;
        position: relative;
        border: 0.063rem solid transparent;
        @include transition03S;
        &__link {
            display: flex;
            color: $primary-color;
            text-decoration: none;
            font-family: $default-font; 
            font-size: 15px;
            font-weight: 500;
            text-align: center;     
            padding: 23px 0;   
        }
    }
    &--line {
        .Menu {
            &-item {
                &__link {           
                    &:hover {
                        color: $secondary-color;   
                        &:before {
                            left: 0;
                            right: 0
                        }     
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        left: 50%;
                        right: 50%;
                        bottom: -3px;
                        background: $secondary-color;
                        height: 3px;
                        transition-property: left, right;
                        transition-duration: .3s;
                        transition-timing-function: ease-out
                    }
                    &:focus {
                        &:before {
                            left: 0;
                            right: 0
                        }
                    }
                }
            }
        }
    }
    &--node {
        .Menu {
            &-item {
                &__link {           
                    &:hover {
                        color: $secondary-color;  
                        &:before {
                            opacity: 1;
                        }  
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        left: 50%;
                        right: 50%;
                        bottom: 17px;
                        background: $secondary-color;
                        height: 5px;
                        width: 5px;
                        min-width: 5px;
                        object-fit: cover;
                        opacity: 0;
                        @include transition03S;
                        @include borderRadius50;
                    }
                }
            }
        }
    }
}