// Tab Styles
.Tab {
    margin-top: 20px;
    &-filter {
        border: none;
        z-index: 1;
        position: relative;        
        &__item {
            margin: 0 30px 30px 0!important;
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            background: #fff;
            border: 1px solid rgba($shadow-dark, 0.02);
            box-shadow: 0 1px 4px 0 rgba($shadow-dark, .04), 0 1px 0 0 rgba($shadow-dark, .02);
            border-radius: 6px;  
            width: 100px;
            min-width: 100px;
            height: 100px; 
            object-fit: cover;
            @include FlexColumnCenter;
            padding: 20px 8px;    
            .icon {
                width: 30px;
                height: 30px;
                color: rgba($icon-filter, .3);
                @include transition03S;
            }    
            &:hover,
            &.active {
                background: #fff; 
                border: 2px solid $secondary-color!important;
                box-shadow: 0 1px 14px 0 rgba($shadow-active, .4), 0 1px 0 0 rgba($shadow-active, .02);   
                border-radius: 6px;                  
                .icon {
                    color: $secondary-color;
                }
                .Tab {
                    &-filter {
                        &__title {
                            color: $primary-color;
                        }
                    }
                }
            } 
        }
        &__title {
            font-weight: 500;
            font-size: 13px;
            color: rgba($primary-color, .7);
            margin-top: 10px;            
            max-width: 100%;
            @include textLimit;
            @include transition03S;
        }
    }
}