// Footer Styles
.Footer {
    background-color: $primary-color;
    padding: 22px 0;
    &__copyright {
        font-size: 0.9em;
        word-spacing: 0.2em;
        color: white;
        margin-bottom: 0;
    }
    &-social {
        &__item {
            color: white;
            margin-left: 0.625em;
            &:hover {
                color: $secondary-color;
            }
            .icon {
                width: 18px;
                height: 18px;
            }
        }
    }
}