// Footer Styles
footer {
    margin-top: 90px;
    padding: 13px 0;
    .Menu {
        &-item {
            &__link {
                &:before {
                    top: -3px;
                    bottom: unset;
                }
            }
        }
    }
}