// Contact Styles
.Contact {
    &__email {
        margin-top: 30px;
        text-decoration: underline;
    }
    &-card {
        .title {
            margin-top: 0;
        }       
    }
    &-info {
        margin-top: 20px;
    }
}




